<!doctype html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#3e454c">

    <title>Edusys || Admin-Login</title>

    <!-- Font awesome -->
    <link rel="stylesheet" href="/public/admin-css/css/font-awesome.min.css">
    <!-- Sandstone Bootstrap CSS -->
    <link rel="stylesheet" href="/public/admin-css/css/bootstrap.min.css">
    <!-- Bootstrap Datatables -->
    <link rel="stylesheet" href="/public/admin-css/css/dataTables.bootstrap.min.css">
    <!-- Bootstrap social button library -->
    <link rel="stylesheet" href="/public/admin-css/css/bootstrap-social.css">
    <!-- Bootstrap select -->
    <link rel="stylesheet" href="/public/admin-css/css/bootstrap-select.css">
    <!-- Bootstrap file input -->
    <link rel="stylesheet" href="/public/admin-css/css/fileinput.min.css">
    <!-- Awesome Bootstrap checkbox -->
    <link rel="stylesheet" href="/public/admin-css/css/awesome-bootstrap-checkbox.css">
    <!-- Admin Stye -->
    <link rel="stylesheet" href="/public/admin-css/css/style.css">


    <link rel="stylesheet" href="/public/student-css/style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Crete+Round&display=swap" rel="stylesheet">



</head>

<body>
    <div class="brand clearfix">
        <a href="#" class="navbar-brand">Edu<b>sys</b></a>
        <span class="menu-btn"><i class="fa fa-bars"></i></span>
        <ul class="ts-profile-nav">

            <li class="ts-account">
                <a href="#"><img src="/public/admin-css/img/ts-avatar.jpg" class="ts-avatar hidden-side" alt="">
                    <%= user.username %><i class="fa fa-angle-down hidden-side"></i>
                </a>
                <ul>
                    <li><a href="/adminprofile">My Account</a></li>
                    
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="ts-main-content" style=" height: 90vh;">
        <nav class="ts-sidebar">
            <ul class="ts-sidebar-menu">

                <li class="ts-label">Main</li>
                <li class="open"><a href="/admin/admin-dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
                <li><a href="#"><i class="fa fa-desktop"></i> Courses </a>
                    <ul>
                        <li><a href="/admin/create-course"> Create Courses </a></li>
                        

                    </ul>
                </li>
               


                
                
                <!-- Account from above -->
                <ul class="ts-profile-nav">

                    <li class="ts-account">
                        <a href="#"><img src="/public/admin-css/img/ts-avatar.jpg" class="ts-avatar hidden-side" alt="">
                            <%= user.username %> <i class="fa fa-angle-down hidden-side"></i>
                        </a>
                        <ul>
                            <li><a href="/adminprofile">My Account</a></li>
                           
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                </ul>

            </ul>
        </nav>


        <div class="content-wrapper">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-md-12">

                        <h2 class="page-title">My Profile</h2>

                        
                            
                            <div class="col-md-12" >
                                <div class="row" style="  background-color: rgb(153, 224, 241); border: 5px solid brown;margin-top: 25px; margin-left: auto; margin-right: auto;" >
                                


                                    <div class='name' style="font-size: larger; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 900; padding: 20px;">
                                        Name : <%= user.username  %> <%= user.lastname  %> 
                                    </div>
                                    
                                    <div class='name' style="font-size: larger;  word-wrap: break-word  ; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 900; padding: 20px;">
                                        Email : <%= user.email  %> 
                                    </div>
                                    <div class='name' style="font-size: larger; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 900; padding: 20px;">
                                        Gender : <%= user.gender  %> 
                                     </div>
                                    <div class='name' style="font-size: larger; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 900; padding: 20px;">
                                       City : <%= user.city %> 
                                    </div>
                                    <div class='name' style="font-size: larger; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 900; padding: 20px; padding-bottom: 20px;">
                                        Country : <%= user.country %> 
                                    </div>
                                    
                                    

                                </div>
                             </div>
                            </div>
                            
                        </div>

                        <div class="row">
                            

                        </div>

                        <div class="row">


                        </div>

                    </div>
                </div>

            </div>




        </div>

        <footer style="position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align:center;
	">
            <p style="padding-bottom: 0px;
		margin-bottom: 0px;">Copyright &copy 2021 <a href="#"
                    style="color:rgb(192, 150, 247);"><strong>Edusys.com</strong></a> | All Rights Reserved</p>
        </footer>

        <!-- Loading Scripts -->
        <script src="/public/admin-css/js/jquery.min.js"></script>
        <script src="/public/admin-css/js/bootstrap-select.min.js"></script>
        <script src="/public/admin-css/js/bootstrap.min.js"></script>
        <script src="/public/admin-css/js/jquery.dataTables.min.js"></script>
        <script src="/public/admin-css/js/dataTables.bootstrap.min.js"></script>
        <script src="/public/admin-css/js/Chart.min.js"></script>
        <script src="/public/admin-css/js/fileinput.js"></script>
        <script src="/public/admin-css/js/chartData.js"></script>
        <script src="/public/admin-css/js/main.js"></script>


</body>

</html>